{% extends "admin/admin-base.html" %}
{% block title %}Website Page{% endblock %}
{% block content %}

<div class="ui stackable grid">
  <div class="four wide column"></div>
  <div class="ten wide column">
    <form action="{% if form.id %} {{url_for('admin.edit_page', page_id=form.id.data) }} {% else %} {{ url_for('admin.create_page') }} {% endif %}" method="POST" name="page_form" class="ui form">
        {% for f in form %}
             <div class="field">
            		{% if f.name == 'submit' %}
                  <a class="ui red left floated button" href="{{ url_for('admin.page_list') }}">Cancel</a>
            			{{ f(class='ui blue right floated button') }}
                {% elif f.name == 'id' %}
                  {{ f }}
                {% elif f.name == 'html' %}
                  {{ f.label }}
                  {{ f(class='form-control ckeditor')}}
                {% else %}
            			{{ f.label }}
                  {{ f(placeholder=f.name.replace('_', ' ')) }}
            		{% endif %}
              </div>
        {% endfor %}
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% endblock %}

