{% extends "default/base.html" %}
{% block title %}Page List{% endblock %}
{% block content %}


<div class="ui centered one column grid text container">
  <div class="center aligned column">
{% if pages %}
    <table class="ui striped table">
        <thead>
            <tr>
                <th>page id</th>
                <th>title</th>
                <th>published</th>
                <th>edit</th>
                {% if current_user.is_admin() %}<th>delete</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.title }}</td>
                <td>{% if page.published == 1 %}Yes{% else %}No{% endif %}</td>
                <td><a class='ui tiny yellow button' href="{{ url_for('admin.edit_page', page_id=page.id) }}"><i class='pencil icon'></i>Edit</a></td>
                {% if current_user.is_admin() %}<td><a class='ui tiny red button' href="{{ url_for('admin.delete_page', page_id=page.id) }}"><i class='pencil icon'></i>Delete</a></td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% else %}
  <p> You don't have any pages </p>
  {% endif %}
  {% if current_user.has_role('writer') %}
  <a href="{{ url_for('admin.create_page') }}" class="ui button green">Create Page</a>
  {% endif %}
  </div>
</div>

{% endblock %}
