attrs==21.2.0
Babel==2.9.1
blinker==1.4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
codecov==2.1.11
coverage==5.5
decorator==5.0.9
dnspython==2.1.0
email-validator==1.1.2
Flask==2.0.1
Flask-Admin==1.5.8
Flask-BabelEx==0.9.4
Flask-HTMLmin==2.1.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
htmlmin==0.1.12
idna==2.10
infinity==1.5
iniconfig==1.1.1
intervals==0.9.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
pytest-flask==1.2.0
pytz==2021.1
requests==2.25.1
six==1.16.0
speaklater==1.3
SQLAlchemy==1.4.17
SQLAlchemy-Utils==0.37.6
toml==0.10.2
translitcodec==0.7.0
urllib3==1.26.5
validators==0.18.2
Werkzeug==2.2.3
WTForms==2.3.3
WTForms-Alchemy==0.17.0
WTForms-Components==0.10.5
