{% extends "admin/admin-base.html" %}
{% block title %}Users{% endblock %}
{% block content %}

<div class="ui stackable grid">
  <div class="four wide column"></div>
  <div class="ten wide column">
    <label>Last Login IP</label>
    <p>{{ last_login }}</p>
    <form action="{% if form.id %} {{url_for('admin.edit_user', user_id=form.id.data) }} {% else %} {{ url_for('admin.create_user') }} {% endif %}" method="POST" class="ui form">
        {% for f in form %}
             <div class="field">
            		{% if f.name != 'submit' %}
              			
                  {% if f.name == 'id' %}
                    {{ f }}
                  {% else %}
              			{{ f.label }}
                    {{ f(placeholder=f.name.replace('_', ' ')) }}
              		{% endif %}
                {% endif %}
              </div>
        {% endfor %}
          <div class="field">
            <a class="ui red left floated button" href="{{ url_for('admin.user_list') }}">Cancel</a>
            {{ form.submit(class='ui blue right floated button') }}
          </div>
    </form>
  </div>
</div>

{% endblock %}
