{% extends "base.html" %}
{% block title %}Page List{% endblock %}
{% block content %}


<div class="ui centered one column grid text container">
  <div class="center aligned column">
{% if pages %}
    <table class="ui striped table">
        <thead>
            <tr>
                <th>page id</th>
                <th>title</th>
                <th>published</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td><a href="{{ url_for('admin.edit_page', page_id=page.id) }}">{{ page.title }}</a></td>
                <td>{% if page.published == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% else %}
  <p> You don't have any pages </p>
  {% endif %}
  <a href="{{ url_for('admin.create_page') }}" class="ui button green">Create Page</a>
  </div>
</div>

{% endblock %}
