{% extends "base.html" %}
{% block title %}Website Page{% endblock %}
{% block content %}

<div class="ui centered one column grid text container">
  <div class="column">
    <form action="{% if form.id %} {{url_for('admin.edit_page', page_id=form.id.data) }} {% else %} {{ url_for('admin.create_page') }} {% endif %}" method="POST" name="page_form" class="ui form">
        {% for f in form %}
             <div class="field">
            		{% if f.name == 'submit' %}
            			{{ f(class='ui blue right floated button') }}
                {% elif f.name == 'id' %}
                  {{ f }}
                {% else %}
            			{{ f.label }}
                  {{ f(placeholder=f.name.replace('_', ' ')) }}
            		{% endif %}
              </div>
        {% endfor %}
    </form>
  </div>
</div>

{% endblock %}
